{% extends 'Home/Base.html' %}
{% load static %}
{% block title %}
Contact
{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'Home/css/contact.css' %}">
{% endblock %}
{% block main %}
<h2>Contact Us</h2>  
    </header>     
    <section class="container-contact">
        <div class="contact-us">
            <form action="" method="post" onsubmit="return alert('Thank You.Contact you soon') ">
                {% csrf_token %}
                <h2> Get In Touch </h2>
                <p>Send Us A Message</p>
                <div class="information">
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="text" name="phone" placeholder="Phone Number" required>
                    <input type="email" name="email" placeholder="E-mail" required>
                    <textarea placeholder="Message" name="desc" class="message-input" maxlength="5000" id="message"></textarea>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>    
    </section>
{% endblock %}