*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
{
    font-family: 'Montserrat', sans-serif ;
}
  {
    font-family: 'Lato', sans-serif;
}
@font-face{
    font-family: neutra;
    src: url(/static/Home/fonts/neutra-text-font/NeutraText-Bold.otf);
}
*{
    font-family: 'Cabin', sans-serif;
}
.button-about{
    margin-top: 70px;
    background-color: transparent;
    border: 1px solid #f0f0f0;
    padding: 10px 15px;
    color: #ffffff;
    cursor: pointer;
    transition: 700ms ease-in-out;
}
.button-about:hover{
    background-color: #f0f0f0;
    color: #0a0a0a;
    font-weight: 600;
}
.aboutus{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(/static/home/img/aboutus.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
.about-heading {
   padding:280px 0px;
   text-align: center;
}
.about-heading h2{
    color: #fafafa;
    font-size: 52px;
    font-family: neutra;
    margin-bottom: 30px;
}
.about-heading p{
    font-size: 20px;
    color: #f0f0f0;
}
.about-row{
    margin: 100px 0px;
    padding: 0px 4%;
}
.flex-about{
    display: flex;
}
.about-row-one{
    width: 50%;
}
.about-us-text{
    width: 50%;
    padding: 6px 3%;
}
.about-us-text h2{
    padding-bottom: 25px;
    font-size: 48px;
    font-family: neutra;
}
.about-us-text p{
    font-size: 18px;
    line-height: 1.7;
}
.about-row-two{
    margin-top: 90px;
}
.hotel-stats{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(/static/home/img/stats.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
    padding: 60px 4%;
}
.hotel-stats h2{
    text-align: center;
    font-size: 30px;
    font-family: neutra;
    color: #fafafa;
}
.flex-image{
    display: flex;
    margin-top: 30px;
    color: #fafafa;
}
.back-image-stats{
    display: flex;
    width: 50%; 
}
.counter{
    margin-bottom: 6px;
    font-size: 22px;
}

.stats { 
   padding: 10px 10%;
   text-align: center;
}
.stat-image {
    font-size: 60px;
    margin-left: 30%;
}
.image-row-2{
    margin-top: 80px;
}
.meals{
    margin-left: 4%;
}
.team-about{
    padding: 3% 5%;
}
.team-about h2{
    text-align: center;
    font-size: 44px;
    font-family: neutra;
    color: #0a0a0a;
    margin:30px 0px;
}
.team-about h2::after{
    display: block;
    width: 100px;
    height: 4px;
    content: ' ';
    margin-top: 6px;
    background-color: #8e7037;
    margin-left: auto;
    margin-right: auto;
}
.team-members{
    display: flex;
    padding: 30px 0px;
    text-align: center;
}
.profile-photo img{
    border-radius: 50%;
    object-fit: cover;
}
.member-card{
    padding: 0px 2%;
}
.member-card h3{
    margin: 12px 0px;
}
.member-card h6{
    font-size: 14px;
    color: #777;
    margin: 5px 0px;
}
.member-card p{
    margin: 15px 0px;
    font-size: 15px;
}
.socials a i{
    font-size: 14px;
    margin-right:1% ;
    text-decoration: none;
    color: #777;
}