*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: 'Montserrat', sans-serif ;
}
  {
    font-family: 'Lato', sans-serif;
}
@font-face{
    font-family: neutra;
    src: url(/static/Home/fonts/neutra-text-font/NeutraText-Bold.otf);
}
{
    font-family: 'Cabin', sans-serif;
}


.container-contact{
    background-image: url(/static/Home/img/contact.jpg);
    background-size: cover;
    height: 112vh;

}
.contact-us{
    padding: 110px 80px; 
 
}
.contact-us h2{
    font-size: 48px;
    color: #484848;
    text-align: center;
    padding-left: 38%;
    font-family: neutra;
    
}
.contact-us p{
    font-size: 20px;
    color: #484848;
    text-align: center;
    padding-left: 38%;
    font-family: 'Cabin', sans-serif;
    margin-top: 20px;
    font-family: 'Cabin', sans-serif;

}
.contact-us input,textarea{
    display: block;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 10px;
    border: none;
    border-bottom: 1px solid #484848;
    width: 90%;
    background-color: transparent;
    font-family: 'Cabin', sans-serif;
}
.information {
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 45%;
    margin-top: 50px;
}
.information textarea{
    width: 90%;
    font-family: 'Cabin', sans-serif;
}
.contact-us input:focus{
    outline: none;
}
.contact-us textarea:focus{
    outline : none;
}
.contact-us button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 35%;
    margin-top: 30px;
    padding: 13px 20px ;
    border-radius: 4px;
    background-color: #1e2b31;
    color: #fafafa;
    border: none;
}
button :focus{
    outline: none;
}
.footer{
    text-align: center;
    background-color: #1e2f31;
    
}
.footer-bg{
    padding-bottom: 65px;
    border-bottom: 1px solid #fafafa;
    
}
.footer-bg img{
    margin-top: 30px;
    margin-bottom: 10px;
}
.footer-bg h3{
    font-size: 24px;
    color: #fafafa;
    margin-bottom: 15px;
    font-family: neutra;
}
.footer-bg h5{
    font-family: 'Cabin', sans-serif;
    font-size: 17px;
    color: #fafafa;
    margin-bottom: 50px;
}

.footer-bg input{
    border: none;
    background-color: transparent;
    width: 25%;
}
.footer-bg i{
    padding-left: 1.5%;
    color: #fafafa;
    border-left: 1px solid #fafafa;
}
.email{
    display: inline;
    padding: 10px 15px ;
    border: 1px solid #fafafa;
}
.email input:focus{
    outline: none;
    color: #fafafa;
}
.social-media{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    
}
.copyright {
    width: 30%;
    color: #fafafa;
    text-align: center;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
}
.copyright p{
    font-family: 'Cabin', sans-serif;
}
.icons{
    width: 35%;
    color: #fafafa;
    text-align: center;
    font-size: 20px;
    padding-left:6% ;
}
.icons i{
    margin-right: 10px;
}
.payment{
    width: 35%;
    color: #fafafa;
    text-align: center;
    font-size: 22px;
    padding-left:6% ;
}
.payment i{
    margin-right: 10px;
}
/**Pop Up Box **/
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }