{% extends 'Bookings/BookingBase.html' %}
{% load static %}
{% block title %}
Room Details
{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'Bookings/css/booking2.css'%}" >
{% endblock %}
{% block main %}

<form action="#" method="GET">
    <div class="flex-class">
        <section class="container-sidebar">
            <div class="sidebar">
            <div class="section-book-1"> 
                    <div class="room-heading">
                        <p>Your Reservation's</p>
                    </div>  
                    <div class="enter-info">  
                        <div class="check-info">
                            <div class="check-row">
                            <i class="far fa-check-circle"></i><span>Check-In</span>
                            </div>
                            <div class="check-row-2">
                            <span>{{basic.CheckInDate}}</span>
                            </div>  
                        </div> 
                        <div class="check-info">
                            <div class="check-row">
                            <i class="fas fa-sign-out-alt"></i><span>Check-Out</span>
                            </div>
                            <div class="check-row-2">
                            <span>{{basic.CheckOutDate}}</span>
                            </div>
                        </div>  
                        <div class="check-info">
                            <div class="check-row">
                            <i class="fas fa-bed"></i><span>Number Of Rooms</span>
                            </div>
                            <div class="check-row-2">
                            <span>{{basic.RoomCount}}</span>
                            </div> 
                        </div>  
                        <div class="check-info">
                            <div class="check-row">
                            <i class="fas fa-users"></i><span>Number Of Guests</span>
                            </div>
                            <div class="check-row-2">    
                            <span>{{basic.GuestCount}}</span>
                            </div> 
                        </div>  
                    </div>    
                    <div class="edit-btn">

                        <button class="btn-edit"><a href="{% url 'Bookings:booking1' %}" style="text-decoration:None;color:white;">EDIT</a></button>
                    </div>  
                    <div class="booking-info">
                        <p>Select Your Rooms</p>
                    </div>
                    <div class="room-card">
                        <div class="booking-row">
                            <span>BOOKING ROOM - 1</span>
                            <span id="color-guest">{{basic.AdultCount}} Adult & {{basic.ChildCount}} Child </span>
                        </div> 
                        <div class="booking-row">
                            <span id="room-color">Luxury Room</span><span id="color-number">X1</span>
                            <span id="color-rupee"><i class="fas fa-rupee-sign"></i> 6000<span>
                        </div>       
                    </div>
                    <div class="room-card">
                        <div class="booking-row">
                            <span>BOOKING ROOM - 2</span>
                            <span id="color-guest">{{basic.AdultCount}} Adult & {{basic.ChildCount}} Child</span>
                        </div> 
                        <div class="booking-row">
                            <span id="room-color">Delux Room</span><span id="color-number">X1</span>
                            <span id="color-rupee"><i class="fas fa-rupee-sign"></i> 5000<span>
                        </div>       
                    </div> 
            </div> 
            <div class="section-book-2">
                <div class="services-heading">
                    <p>Additional Services</p>
                </div>
                <div class="addons">
                        <div class="services-row">
                        <div class="service-name">
                            <input type="checkbox" id="service-1" name="service-1"> <label for="service-1"> Spa & Saloon </label>
                        </div>
                        <div class="service-cost">  
                            <span><i class="fas fa-rupee-sign"></i> 1500</span>
                        </div>  
                        </div>
                        <div class="services-row">
                            <div class="service-name">
                                <input type="checkbox" id="service-1" name="service-1"> <label for="service-1"> Gym </label>
                            </div>
                            <div class="service-cost">  
                                <span><i class="fas fa-rupee-sign"></i> 1500</span>
                            </div> 
                        </div>   
                        <div class="services-row">
                            <div class="service-name">
                                <input type="checkbox" id="service-1" name="service-1"> <label for="service-1"> Private Chef </label>
                            </div>
                            <div class="service-cost">  
                                <span><i class="fas fa-rupee-sign"></i> 1500</span>
                            </div> 
                        </div>   
                        <div class="services-row">
                            <div class="service-name">
                                <input type="checkbox" id="service-1" name="service-1"> <label for="service-1"> Laundary </label>
                            </div>
                            <div class="service-cost">  
                                <span><i class="fas fa-rupee-sign"></i> 1500</span>
                            </div>
                        </div>   
                        <div class="services-row">
                            <div class="service-name">
                                <input type="checkbox" id="service-1" name="service-1"> <label for="service-1"> Pick & Drop </label>
                            </div>
                            <div class="service-cost">  
                                <span><i class="fas fa-rupee-sign"></i> 1500</span>
                            </div>
                        </div> 
                        <div class="services-row">
                            <div class="service-name">
                                <input type="checkbox" id="service-1" name="service-1"> <label for="service-1"> Guided Tour </label>
                            </div>
                            <div class="service-cost">  
                                <span><i class="fas fa-rupee-sign"></i> 1500</span>
                            </div>
                        </div> 
                        <div class="services-row">
                            <div class="service-name">
                                <input type="checkbox" id="service-1" name="service-1"> <label for="service-1"> Dry Cleaning</label>
                            </div>
                            <div class="service-cost">  
                                <span><i class="fas fa-rupee-sign"></i> 1500</span>
                            </div>
                        </div>        
                </div>      
            </div>                 
            </div>    
        </section>    
        <section class="room-select-card"> 
            <div class="personal">
                <div class="user-navbar">
                    <div class="options">
                        <div class="option-number" id="option-1">
                            <div class="option-padding">
                            <span> 1</span>
                            </div>  
                        </div>
                        <div class="option-row option-color padding-option-1">    
                            <span>Choose Date & Personal Information</span>   
                        </div>    
                    </div>    
                    <div class="options">
                        <div class="option-number" id="option-2">
                            <div class="option-padding">
                            <span> 2 </span>
                            </div> 
                        </div>
                        <div class="option-row option">    
                            <span>Choose Rooms</span>   
                        </div>    
                    </div>    
                    <div class="options">
                        <div class="option-number" id="option-3">
                        <div class="option-padding"> 
                            <span> 3 </span>
                        </div>
                        </div>
                        <div class="option-row option-color">    
                            <span>Confirmation</span>   
                        </div>    
                    </div>    
                    <div class="options">
                        <div class="option-number" id="option-4">
                        <div class="option-padding"> 
                            <span> 4 </span>
                        </div>
                        </div>
                        <div class="option-row option-color">    
                            <span>Payment Method </span>   
                        </div>    
                    </div>    
                </div>  
            </div>
            <div class="room-cards ">
                <div class="room-card-row-1">
                    <div class="card">
                        <div class="card-image">
                        <img src="{% static '/home/img/bed-2.jpg' %}" width="310px" height="230px">
                        </div>
                        <div class="room-information-row">
                            <div class="room-details">
                                <div class="room-name">
                                    <span>LUXURY ROOM</span>
                                </div> 
                                <div class="room-price">
                                    <span><i class="fas fa-rupee-sign"></i> 6000</span>
                                </div>       
                            </div> 
                            <div class="room-service">
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>King Size Bed</li>
                                        <li><i class="fas fa-circle"></i>Free Wifi</li>
                                    </ul>    
                                </div>
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>Sitting Area</li>
                                    <li> <i class="fas fa-circle"></i>Jacuzzi</li>
                                    </ul>   
                                </div>        
                            </div> 
                            <div class="select-option">
                                <input class="input-rooms" placeholder="No. Of Rooms" />
                                <button class="select-btn">SELECT</button>
                            </div>  
                        </div>               
                    </div>  
                    <div class="card">
                        <div class="card-image">
                        <img src="{% static '/home/img/bed-3.jpg' %}" width="310px" height="230px">
                        </div>
                        <div class="room-information-row">
                            <div class="room-details">
                                <div class="room-name">
                                    <span>DELUX ROOM</span>
                                </div> 
                                <div class="room-price">
                                    <span><i class="fas fa-rupee-sign"></i> 5000</span>
                                </div>       
                            </div> 
                            <div class="room-service">
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>King Size Bed</li>
                                        <li><i class="fas fa-circle"></i>Free Wifi</li>
                                    </ul>    
                                </div>
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>Sitting Area</li>
                                    <li> <i class="fas fa-circle"></i>Jacuzzi</li>
                                    </ul>   
                                </div>        
                            </div> 
                            <div class="select-option">
                                <input class="input-rooms" placeholder="No. Of Rooms" />
                                <button class="select-btn">SELECT</button>
                            </div>  
                        </div>               
                    </div>  
                    <div class="card">
                        <div class="card-image">
                        <img src="{% static '/home/img/bed-4.jpg' %}" width="310px" height="230px">
                        </div>
                        <div class="room-information-row">
                            <div class="room-details">
                                <div class="room-name">
                                    <span>QUEEN'S ROOM</span>
                                </div> 
                                <div class="room-price">
                                    <span><i class="fas fa-rupee-sign"></i> 4000</span>
                                </div>       
                            </div> 
                            <div class="room-service">
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>King Size Bed</li>
                                        <li><i class="fas fa-circle"></i>Free Wifi</li>
                                    </ul>    
                                </div>
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>Sitting Area</li>
                                    <li> <i class="fas fa-circle"></i>Jacuzzi</li>
                                    </ul>   
                                </div>        
                            </div> 
                            <div class="select-option">
                                <input class="input-rooms" placeholder="No. Of Rooms" />
                                <button class="select-btn">SELECT</button>
                            </div>  
                        </div>               
                    </div>    
                </div>    
            </div>
            <div class="room-cards room-card-row-2">
                <div class="room-card-row-1">
                    <div class="card">
                        <div class="card-image">
                        <img src="{% static '/home/img/bed-5.jpg' %}" width="310px" height="230px">
                        </div>
                        <div class="room-information-row">
                            <div class="room-details">
                                <div class="room-name">
                                    <span>SINGLE ROOM</span>
                                </div> 
                                <div class="room-price">
                                    <span><i class="fas fa-rupee-sign"></i> 3000</span>
                                </div>       
                            </div> 
                            <div class="room-service">
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>King Size Bed</li>
                                        <li><i class="fas fa-circle"></i>Free Wifi</li>
                                    </ul>    
                                </div>
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>Sitting Area</li>
                                    <li> <i class="fas fa-circle"></i>Jacuzzi</li>
                                    </ul>   
                                </div>        
                            </div> 
                            <div class="select-option">
                                <input class="input-rooms" placeholder="No. Of Rooms" />
                                <button class="select-btn">SELECT</button>
                            </div>  
                        </div>               
                    </div>  
                    <div class="card">
                        <div class="card-image">
                        <img src="{% static '/home/img/bed-6.jpg' %}" width="310px" height="230px">
                        </div>
                        <div class="room-information-row">
                            <div class="room-details">
                                <div class="room-name">
                                    <span>ECONOMY ROOM</span>
                                </div> 
                                <div class="room-price">
                                    <span><i class="fas fa-rupee-sign"></i> 2000</span>
                                </div>       
                            </div> 
                            <div class="room-service">
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>King Size Bed</li>
                                        <li><i class="fas fa-circle"></i>Free Wifi</li>
                                    </ul>    
                                </div>
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>Sitting Area</li>
                                    <li> <i class="fas fa-circle"></i>Jacuzzi</li>
                                    </ul>   
                                </div>        
                            </div> 
                            <div class="select-option">
                                <input class="input-rooms" placeholder="No. Of Rooms" />
                                <button class="select-btn">SELECT</button>
                            </div>  
                        </div>               
                    </div>  
                    <div class="card">
                        <div class="card-image">
                        <img src="{% static '/home/img/bed-2.jpg' %}" width="310px" height="230px">
                        </div>
                        <div class="room-information-row">
                            <div class="room-details">
                                <div class="room-name">
                                    <span>KING'S ROOM</span>
                                </div> 
                                <div class="room-price">
                                    <span><i class="fas fa-rupee-sign"></i> 7000</span>
                                </div>       
                            </div> 
                            <div class="room-service">
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>King Size Bed</li>
                                        <li><i class="fas fa-circle"></i>Free Wifi</li>
                                    </ul>    
                                </div>
                                <div class="room-service-row-1">
                                    <ul>
                                        <li><i class="fas fa-circle"></i>Sitting Area</li>
                                    <li> <i class="fas fa-circle"></i>Jacuzzi</li>
                                    </ul>   
                                </div>        
                            </div> 
                            <div class="select-option">
                                <input class="input-rooms" placeholder="No. Of Rooms" />
                                <button class="select-btn">SELECT</button>
                            </div>  
                        </div>               
                    </div>    
                </div>    
            </div>  
            <div class="page-btn">  
                <button class="prev-btn">BACK</button>
                <button class="submit-btn" type="submit">NEXT</button>
            </div>     
        </section> 
    </div>
</form>                
</body>
</html>


{% endblock %}
